<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Template</display-name>
    <description>
      An empty project to use as a template for your own ones
    </description>

	<!-- Context attributes to be used throughout the application -->
	
    <!-- Define servlets that are included in the application -->
	<servlet>
        <servlet-name>RecommendServlet</servlet-name>
        <servlet-class>it.unibo.web.servlets.RecommendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecommendServlet</servlet-name>
        <url-pattern>/RecommendServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>NoteServlet</servlet-name>
        <servlet-class>it.unibo.web.servlets.NoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoteServlet</servlet-name>
        <url-pattern>/NoteServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>it.unibo.web.servlets.DateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/DateServlet</url-pattern>
    </servlet-mapping>        
	<!-- Welcome pages -->
	<!-- pleonastico: tomcat "tenta" in automatico le index.html e index.jsp -->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
		
	<!-- Handle exceptions and errors -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>
	 
</web-app>
