<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
</head>
<body>
      <div class="page-wrapper">
        <h1 class="site-title">ShopMood</h1>
        <div class="container">
            <p class="nav-links">
                <a href="/login">Login</a> ·
                <a href="/register">Create account</a>
            </p>

            <h1>Login to your account</h1>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form action="/login" method="post" class="form">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
    </div>
</body>
</html>